.btn {
    appearance: none;
    border: 0;
    display: block;
    font-size: 18px;
    background-color: blue;
    width: fit-content;
    padding: 15px 30px;
    color: white;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
    cursor: pointer;
}